<div class="col-lg-7 col-lg-offset-1 col-md-11 col-md-offset-2 col-xs-6 col-xs-offset-1 userprofile_centralcard">
	<p dir="ltr" style="font-weight: bold; font-size: 26px;">
	    Contact Us
	</p>
	<br/>
	<p dir="ltr">
	    We are listening!
	</p>
	<p dir="ltr">
	For support with your bookings and other queries,    <a href="http://www.justpakit.com/support">click here</a> or visit the
	    Support section in the Pakit app.
	</p>
	<p dir="ltr">
	    Please report any security issues with Pakit at contact@justpakit.com
	</p>
	<p dir="ltr">
	    For press/media related queries and communication please contact -
	    gopakit@gmail.com.
	</p>
	<br/>
	<p dir="ltr">
	    Found a Application Security Vulnerability? We may have a bounty for you !
	</p>
	<p dir="ltr">
	    We, at Pakit, are extremely paranoid about the security of our customer's
	    information. We always appreciate your efforts to keep our customers safe.
	    We have taken a small step towards the same, to safeguard our customer's
	    data and give all the deserved credits to our dedicated researchers. We
	    would be glad to invite you to participate in our bug bounty program.
	Please report any security vulnerabilities in Pakit at    <a href="https://www.olacabs.com/whitehat?">Pakit Bug Bounty</a>
	</p>
	<p dir="ltr">
	    Happy bug hunting!
	</p>
	<div>
	    <br/>
	</div>
</div>