<div class="col-lg-7 col-lg-offset-1 col-md-11 col-md-offset-2 col-xs-6 col-xs-offset-1 userprofile_centralcard">
<h1 id="faq">FAQ</h1>

<div class="set">
<p class="ques">1) Why should i trust the traveller ?</p>
Ans )  We will provide you complete details(LinkedIn, Facebook) of the traveller and only after proper communication you must trust him/her and also company will be having his/her Aadhar details/ Passport copy/ Driving license copy, so you can trust.
</div>
<hr>

<div class="set">
<p class="ques">Q 2) What if an damage occurs to item during journey but not because of you ?</p>
Ans )  
</div>
<hr>


<div class="set">
<p class="ques">Q 3) What if traveller misses his flight and item delivery get delayed ?</p>
Ans ) The traveller will be in touch already and since this is an unexpected mishap so you can either try to resolve the issue on your own or write to us at ______@ and we will get back to you.
</div>

<hr>

<div class="set">
<p class="ques">Q 4) What if Seekers attendant didn’t come at delivery location and what should the traveller should do ?</p>
Ans )  In this case you can keep the item with you for 24 hours  if no response is received upto that time so you can write to us and claim your money.
</div>

<hr>

<div class="set">
<p class="ques">Q 5) What if the traveller didn’t come up at the meeting point after fixing the deal ?</p>
Ans )  
</div>

<hr>

<div class="set">
<p class="ques">Q 6) What action will be taken on Seekers if he didn’t come at meeting point after fixing deal ?</p>
Ans )  
</div>

<hr>
<div class="set">
<p class="ques">Q 7) What if airport authority did not allow traveller to carry that item ? </p>
Ans )  We do not interfere in the matters outside our jurisdiction. If the Airport Authority 
doesn’t permit the required item then their decision will be final. 
</div>
<hr>

<div class="set">
<p class="ques">Q 8) What if airport authority finds something false in the item and catches him for carrying so ?</p>
 Ans )  We advice the travellers to check the package before accepting it to avoid such mishappenings.
</div>



<hr>

<div class="set">
<p class="ques">Q 9) What you can carry ?</p>
Ans ) We recommends that all medication, valuables and precious items (cameras, jewellery, money, electronics, etc.) and items which are fragile or perishable should be carried in Cabin Baggage and not in Checked Baggage. IndiGo shall not accept any responsibility for these items.
The following articles are prohibited from carriage in the Baggage due to safety reasons:
Compressed gases - deeply refrigerated, flammable, non-flammable and poisonous such as butane oxygen, liquid nitrogen, aqualung cylinders and compressed gas cylinders.
Corrosives such as acids, alkalis, mercury and wet cell batteries and apparatus containing mercury.
Explosives, munitions, fireworks and flares, ammunition including blank cartridges, handguns, fire works, pistol caps.
Small lithium battery-powered vehicles such as airwheels, solowheels, hoverboards, mini-segways and balance wheels.
Flammable liquids and solids such as lighter refills, lighter fuel, matches, paints, thinners, fire-lighters, lighters that need inverting before ignition, matches (these may be carried on the person), radioactive material, briefcases and attache case with installed alarm devices.
Oxidizing materials such as bleaching powder and peroxides.
Poisons and infectious substances such as insecticides, weed-killers and live virus materials.
Fish (including sea food), animals, birds, insects in any form, whether alive and/or dead, and/or frozen and/or dried.
Anything that possesses and/or is capable of possessing and/or emitting a conspicuous and/or offensive odour.
Other dangerous articles such as magnetized materials, offensive or irritating materials.
</div>
<hr>
</div>
