<div class="row homepage_thumbnails">
    <div class="card-deck">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-xs-6 col-xs-offset-3">
                <div class="card">
                    <a ui-sref="navbar.main.opt1">
                    <img class="card-img-top card_img" src="image/flight_icon.svg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">CLUB BAGGAGE</h4>
                        <p class="card-text">Check In with the fellow flyer and utilise the unusage baggage space</p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
                <div class="card">
                    <a ui-sref="navbar.main.opt2">
                    <img class="card-img-top card_img" src="image/travel_icon.svg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">SEND A PAKIT</h4>
                        <p class="card-text">Help deliver a parcel on your way and earn money </p>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
                <div class="card">
                    <a ui-sref="navbar.main.opt3">
                    <img class="card-img-top card_img" src="image/send_icon.svg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">CARRY A PAKIT</h4>
                        <p class="card-text">Request traveller to help deliverhappiness on their way.</p>
                    </div>
                    </a>
                </div>
            </div>               
        </div>
    </div>
</div>
<div class="homepage_suggestions"><h2>Suggestions 1</h2></div>
<div class="owl-carousel owl-theme homepage_owlcarousel">
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>

</div>
<div class="homepage_suggestions"><h2>Suggestions 2</h2></div>

<div class="owl-carousel owl-theme homepage_owlcarousel">
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
      <div class="homepage_carouselCard"> <img class="img-responsive homepage_carousel_img" src="random/download.jpg"/> <h4 class="text">Card Title</h4><p class="text">Image Description</p></div>
</div><br><br>

<script>
    $(document).ready(function(){
    $(".owl-carousel").owlCarousel(
        {
            dots:false,
            autoplay:true,
            smartSpeed:300,
            loop:true,
            margin:13,
            responsive:{
                0:{
                    items:2
                },
                320:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
        });
    });
</script>