<!-- For landing page -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="partials/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="partials/css/theme.css"></link>
<link rel="stylesheet" type="text/css" href="partials/css/main.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="Pakit" src=" partials/images/logo.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#aboutUs">About Us</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#whyPakit">Why Pakit ?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">Features</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#appFlow">How it works</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#getApp">Get the app</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="headerImageWrapper">
        <div class="flex-container flex-column" id="introContent">
            <div id="introText">
                <h1>Get <span class="theme-text">paid</span><br> for carrying<br> <span class="theme-text">less baggage.</span></h1>
            </div>
            <div id="introBox">
                <h4 class="center text-muted" id="signup">
                    Sign up to earn while you travel.
                </h4>
                <br>
                <div class="center">
                    <button class="btn btn-lg btn-primary" id="facebook">Sign up with facebook</button>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutUs">
        <div class="container">
            <div class="section-heading center">
                <h1>With <span class="theme-text">Pakit</span>, you can</h1>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 about-card">
                    <img src=" partials/images/about-gift.png" alt="">
                    <div class ="overlay-text">
                        <div class="image-title">
                            <h1>send items<br> fast &<br> cheap</h1>
                        </div>
                        <div class="image-text">
                            <h3>Fast and Cheap Deliveries</h1>
                            <h4>Senders can ship goods from one place to another via travelers, and we are connecting senders with the travelers.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 about-card">
                    <img src=" partials/images/about-flight.png" alt="flight">
                    <div class="overlay-text">
                        <div class="image-title">
                            <h1>earn<br>while you<br> travel</h1>
                        </div>
                        <div class="image-text">
                            <h3>Earn money</h3>
                            <h4>Travelers can earn money by utilizing their unused baggage space while travelling.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 about-card">
                    <img src=" partials/images/about-bag.png" alt="">
                    <div class="overlay-text">
                        <div class="image-title">
                            <h1>club<br>baggage on<br> flights</h1>
                        </div>
                        <div class="image-text">
                            <h3>Club Baggage</h3>
                            <h4>Travellers pay a large amount at airports for carrying extra luggage, so we connect such travelers with people carrying less.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 about-card">
                    <img src=" partials/images/about-food.png" alt="">
                    <div class="overlay-text">
                        <div class="image-title">
                            <h1>recieve <br>things you<br> crave</h1>
                        </div>
                        <div class="image-text">
                            <h3>Fast and Cheap Deliveries</h3>
                            <h4>People can ask travelers to bring culturally unique items from other places.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="whyPakit">
        <div class="section-heading center">
            <h1>Pakit is for</h1>
            <div class="divider"></div>
        </div>
        <div id="usageImageWrapper">
            <div id="usageCarousel">
                <div class="usage-image-item bg-orange" data-index="1"><img src=" partials/images/why-food.png" alt="Food lovers"></div>
                <div class="usage-image-item bg-green active" data-index="2"><img src=" partials/images/why-traveler.jpg" alt="Travelers"></div>
                <div class="usage-image-item bg-red" data-index="3"><img src=" partials/images/why-home.jpg" alt="Students"></div>
                <div class="usage-image-item bg-blue" data-index="4"><img src=" partials/images/why-delivery.jpg" alt="Urgent delivery"></div>
                <div class="usage-image-item bg-yellow" data-index="5"><img src=" partials/images/why-excess.jpg" alt="Club excess baggage"></div>
            </div>
            <div id="usageText">
                <div class="usage-text-item" data-index="1">
                    <h4 class="text-orange">Food lovers</h4>
                    <h5>Who want to</h5>
                    <h5 class="text-orange">Eat food from different cities</h5>
                </div>
                <div class="usage-text-item active" data-index="2">
                    <h4 class="text-green">Travelers</h4>
                    <h5>Who want to</h5>
                    <h5 class="text-green">Earn money by carrying somebody's parcel</h5>
                </div>
                <div class="usage-text-item" data-index="3">
                    <h4 class="text-red">Students</h4>
                    <h5>Who miss</h5>
                    <h5 class="text-red">Maa ke haath ka khana</h5>
                </div>
                <div class="usage-text-item" data-index="4">
                    <h4 class="text-blue">Anyone</h4>
                    <h5>Who wants to</h5>
                    <h5 class="text-blue">Get important items delivered urgently and reliably</h5>
                </div>
                <div class="usage-text-item" data-index="5">
                    <h4 class="text-DarkGoldenRod">Flyers</h4>
                    <h5>Who want to</h5>
                    <h5 class="text-yellow">Save money by clubbing extra baggage</h5>
                </div>
                <!-- <div id="carouselControl">
                    <i class="left fa fa-lg fa-arrow-circle-o-left" aria-hidden="true" onclick="carouselPrev()"></i>
                    <i class="right fa fa-lg fa-arrow-circle-o-right" aria-hidden="true" onclick="carouselNext()"></i>
                </div> -->
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="section-heading center">
                <h1>Features</h1>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-plane fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Fixed Pricing</h3>
                            We charge almost 1/4th of existing Courier Companies.
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Default Meeting points</h3>
                           We provide you with the most feasible meeting point by using your location
                        </div>
                    </div>
                    <div class="media text-right feature">
                        <a class="pull-right" href="#">
                            <i class="fa fa-comments fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Insurance and Chat Portal</h3>
                           Items can be insured against loss and damage and we provide a chat platform.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src=" partials/images/app-features.png" class="img-responsive" alt="Features">
                </div>
                <div class="col-md-4 col-sm-4  sp-effect2">
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-picture-o fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">User verification</h3>
                           We verifies users by taking their verified official ID card.
                        </div>
                    </div>
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-film fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Social media connections</h3>
                           We inform you if you are socially connected to traveller/sender.
                        </div>
                    </div>
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-money fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Escrow Payment Portal</h3>
                            Travelers only receive payment upon confirmed delivery.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="appFlow">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-md-8 col-md-push-4" id="appFlowText">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-heading center">
                                <h1>How Pakit works</h1>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="appFlowPoints">
                        <div class="highlighted-point">
                            <div class="font-bg text-muted">1 &nbsp;</div>
                            <div><h4> Post your details as a traveler/sender.</h4></div>
                        </div>
                        <div>
                            <div class="font-bg text-muted">2 &nbsp;</div>
                            <div><h4> Select users from search results based on their profile and social media connections.</h4></div>
                        </div>
                        <div>
                            <div class="font-bg text-muted">3 &nbsp;</div>
                            <div><h4>Finalise your deal by fixing meeting points by using our chat portal.</h4></div>
                        </div>
                        <div>
                            <div class="font-bg text-muted">4 &nbsp;</div>
                            <div><h4> Proceed for payment stage.</h4></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8 center">
                    <div id="carouselAppFlow" class="slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src=" partials/images/app-flow-1.png" alt="Make your entry">
                            </div>
                            <div class="item">
                                <img src=" partials/images/app-flow-2.png" alt="Search matching users">
                            </div>
                            <div class="item">
                                <img src=" partials/images/app-flow-3.png" alt="Chat with a user to finalise">
                            </div>
                            <div class="item">
                                <img src=" partials/images/app-flow-4.png" alt="Make payment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section id="getApp">
            <div class="container-fluid">
                 <div class="row">
                    <div class="col-md-6 center">
                        <div class="section-heading center">
                            <h1>Get the app</h1>
                            <div class="divider"></div>
                        </div>
                        <h4 class="text-muted">Use our service through our app or from browser</h4>
                        <h4 class="text-muted">Stay tuned !</h4>
                        <img src=" partials/images/btn-playstore_lg.png" alt="Download app" id ="playstoreBtn">
                    </div>
                    <div class="col-md-6 no-right-pad">
                        <div class="hanging-phone">
                            <img src=" partials/images/mockup.png" alt="Mockup">
                        </div>
                    </div>
                </div>
            </div>
        </section>




    <section id="contact" class="center">
        <div class="center"><img src=" partials/images/logo.png" alt="" class="logo"></div>
        <div class="section-heading center">
            <h1>Follow us on</h1>
            <div class="divider"></div>
        </div>
        <div id="social">
            <a href="https://www.twitter.com/JustPakit" target="_blank" rel="noopener"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://www.facebook.com/JustPakit/" target="_blank" rel="noopener"><i class="fa fa-instagram fa-lg"></i></a>
            <a href="https://www.facebook.com/JustPakit/" target="_blank" rel="noopener"><i class="fa fa-facebook fa-lg"></i></a>
        </div>
        <div id="rights">
            <h4><strong>&copy; 2017 Pakit</strong></h4>
        </div>
    </section>
    
    <script type="text/javascript" src=" js/jquery.min.js"></script>
    <script type="text/javascript" src=" js/bootstrap.min.js"></script>
    <script type="text/javascript" src=" js/main.js"></script>

</body>