<div class = "row new_pakit_box" style="margin: 0 auto;">
   <div class ="col-md-4 new_pakit_left_box">
      <div id="MainMenu">
        <div class="list-group panel new_pakit_options">
              <a href="#new_pakit_club_baggage_extension" class="list-group-item list-group-item-success new_pakit_options_2" data-toggle="collapse" data-parent="#MainMenu" ng-click="goTo('opt1',$event)">CLUB BAGGAGE</a>
              <div class="collapse" id="new_pakit_club_baggage_extension">Check In with the fellow flyer and utilise the unusage baggage space</div>
              <a href="#new_pakit_deliver_pakit_extension" class="list-group-item list-group-item-success new_pakit_options_2" data-toggle="collapse" data-parent="#MainMenu" ng-click="goTo('opt2',$event)">DELIVER A PAKIT</a>
              <div class="collapse" id="new_pakit_deliver_pakit_extension">Help deliver a parcel on your way and earn money.</div>
              <a href="#new_pakit_send_pakit_extension" class="list-group-item list-group-item-success new_pakit_options_2" data-toggle="collapse" data-parent="#MainMenu" ng-click="goTo('opt3',$event)">SEND A PAKIT</a>
              <div class="collapse" id="new_pakit_send_pakit_extension">Request traveller to help deliverhappiness on their way.</div>
              <a href="#new_pakit_request_pakit_extension" class="list-group-item list-group-item-success new_pakit_options_2" data-toggle="collapse" data-parent="#MainMenu" ng-click="goTo('opt4',$event)">REQUEST A PAKIT</a>
              <div class="collapse" id="new_pakit_request_pakit_extension">Request a travller to shop and opt2 exclusive item to you.</div>
        </div>
      </div>
  </div>

  <div  ui-view></div>
</div>
  



