<!-- <div class="row" id="detailsform_navbar">
    <div class="col-md-3 detailsform_navcol col-md-offset-9">
        <div class="row">
            <div class="col-md-3 col-md-offset-3 dropdown col-xs-1 col-xs-offset-9">
                <img class="img-responsive dropdown-toggle" data-toggle="dropdown" src="image/request.svg"/>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" class="details_form_a">Action</a></li>
                    <li><a href="#" class="details_form_a">Another action</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 dropdown col-xs-1">
                <img class="img-responsive dropdown-toggle" data-toggle="dropdown" src="image/notification.svg"/>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" class="details_form_a">Action</a></li>
                    <li><a href="#" class="details_form_a">Another action</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 dropdown col-xs-1">
                <img class="img-responsive dropdown-toggle" data-toggle="dropdown" src="image/account.svg"/>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" class="details_form_a">Action</a></li>
                    <li><a href="#" class="details_form_a">Another action</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="detailsform_tabs">
    <div class="col-md-12">
        <div class="row detailsform_tabrow">
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="col-lg-11 col-lg-offset-3 col-md-11 col-md-offset-6 col-xs-4 col-xs-offset-6">
                        <a href="#" class="detailsform_disabledLink">New Pakit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
               <a href="#" class="detailsform_disabledLink">Current Pakits</a>
            </div>
        </div>
        <div class="detailsform_line"></div>
    </div>
</div> -->
<nav class="navbar navbar-default connected_users_navigation">
    <div class="container-fluid navbar_container_fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#connected_users_myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>

        <div class="collapse navbar-collapse" id="connected_users_myNavbar">                        
            <span class="dropdown">
                <!-- <span class="dropbtn connected_users_myNavbar_icons"> -->
                    <img class="connected_users_myNavbar_images" src="image/request.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </span>
            <span class="dropdown">
                <!-- <span class="dropbtn connected_users_myNavbar_icons"> -->
                    <img class="connected_users_myNavbar_images" src="image/notification.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </span>
            <span class="dropdown">
                <!-- <span class="dropbtn connected_users_myNavbar_icons"> -->
                    <img class="connected_users_myNavbar_images" src="image/account.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
            </span>
        </div>                            
    </div>
</nav>
<!--    =======================================  NAVBAR ENDS   ====================================    -->                 
    
                
                
<!--    =======================================  NEW PAKIT AND CURRENT PAKIT TABS STARTS   ====================================    -->           
<div class = "row connected_users_main_row">
    <div class = "col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <ul class = "connected_users_main_row_ul">
            <li class = "connected_users_new_pakit connected_users_main_row_li"><a href = "#" class = "connected_users_main_row_a">New Pakit</a></li>
            <li class = "connected_users_current_pakit connected_users_main_row_li"><a href = "#" class = "connected_users_main_row_a">Current Pakit</a></li>
        </ul>
    </div>
</div>
<hr>
<!--    =======================================  NEW PAKIT AND CURRENT TABS ENDS   ====================================    -->                 

 <div class="container-fluid pakit_main_section" style="padding: 0; margin-top:60px;">
    <div class="row" ui-view style="margin-top: 60px;">
        
            <!-- Stuff comes here -->

    </div>
<div>
