<div class="col-lg-7 col-lg-offset-1 col-md-11 col-md-offset-2 col-xs-6 col-xs-offset-1 userprofile_centralcard">
<p align="center">
    <strong><u>TERMS OF SERVICE AGREEMENT</u></strong>
</p>
<p align="justify">
    <strong>
        PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY. BY USING THIS
        WEBSITE OR ORDERING PRODUCTS FROM THIS WEBSITE YOU AGREE TO BE BOUND BY
        ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT.
    </strong>
</p>
<p align="justify">
    This Terms of Service Agreement (hereinafter the "Agreement") governs your
use of this website, <strong> </strong>    <em><strong>insert website url </strong></em>(hereinafter the “Website”), a
website developed and owned by<strong>Pakit Technologies Private Limited </strong>(hereinafter “Pakit”)    <strong>. </strong>This Agreement includes, and incorporates by this
reference, the policies and guidelines referenced below.    <strong>Pakit</strong> reserves the right to change or revise the terms and
    conditions of this Agreement at any time by posting any changes or a
    revised Agreement on this Website.
</p>
<p align="justify">
    Pakit will alert you that changes or revisions have been made by indicating
    on the top of this Agreement the date it was last revised. The changed or
    revised Agreement will be effective immediately after it is posted on this
    Website. Your use of the Website following the posting any such changes or
    of a revised Agreement will constitute your acceptance of any such changes
    or revisions.
</p>
<p align="justify">
    Pakit encourages you to review this Agreement whenever you visit the
    Website to make sure that you understand the terms and conditions governing
    use of the Website. This Agreement does not alter in any way the terms or
    conditions of any other written agreement you may have with Pakit for other
    products or services. If you do not agree to this Agreement, including any
    referenced policies or guidelines, please immediately terminate your use of
    the Website.
</p>
<p align="justify">
    <strong>II. SCOPE OF SERVICES</strong>
</p>
<p align="justify">
    This Website is an online service platform (the “Service”) developed by
    Pakit which allows users, broadly classified into Senders and Travellers,
    to engage in the following activities. The following is merely an
    illustratrive and not exhaustive scope of services:
</p>
<ol class="terms_ordered_list">
    <li>
        <p align="justify">
            Senders:
        </p>
        <ul class="terms_unordered_list">
		    <li>
		        <p align="justify">
		            Find travelers moving between different locations.
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Connect them with travelers via our web platform (Website).
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Communicate with parties through our online Chat Portal.
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Make payments through our escrow model.
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Meet with travelers at suggested safe meeting points on our web
		            platform (Website)
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Senders must not seal the package in any way and must allow the
		            traveler to thoroughly check it for security concerns.
		        </p>
		    </li>
		    <li>
		        <p align="justify">
		            Senders must not use Pakit’s web platform or any of Pakit’s
		            ancillary services where the package involved any illicit drugs,
		            substances, items, objects, ornaments etc. which violate the laws
		            of India.
		        </p>
		    </li>
		</ul>
    </li>
    <li>
        <p align="justify">
            Travelers:
        </p>
        <ul class="terms_unordered_list">
			<li>
			    <p align="justify">
			        Travelers can accept or deny the requests from senders at their own
			        discretion.
			    </p>
			</li>
			<li>
			    <p align="justify">
			        Upon acceptance of a request, must only utilise the chat portal to
			        communicate with the other party to inquire about the goods to be
			        transmitted, weight and decide upon meeting point based on the
			        suggestions from the web platform.
			    </p>
			</li>
			<li>
			    <p align="justify">
			        Must meet with the sender and ensure that the package is not sealed
			        and is safe to carry with them.
			    </p>
			</li>
			<li>
			    <p align="justify">
			        In case any doubt arises as to the security or integrity of a
			        package, travelers shall immediately contact Pakit and abstain from
			        delivery of the package until all clearances are given thereafter.
			    </p>
			</li>
		</ul>
    </li>
    <li>
        <p align="justify">
            Buyers:
        </p>
        <ul class="terms_unordered_list">
			<li>
				<p align="justify">
			    The amount of information the Agent can send and numbers of actions it can
			    perform are listed on the Website, and depend on the device’s software
			    platform and the features associated with that Device.
				</p>
			</li>
			<li>
				<p align="justify">
					The Control Panel is administered by each User from any browser with
					Internet connection, enabling to customize the behavior to be followed by
					his device(s) using all or some of the available actions. The Agent for
					Mac, Linux, and Windows platforms is licensed under a general public
					license- GNU GPLv3. However, the Control Panel is an application that is
					currently not licensed, and developed, administered and maintained only by
					Pakit.
				</p>
			</li>
		</ul>
    </li>
</ol>
<p align="justify">
    <strong>III. TERMS OF USE</strong>
</p>
<p align="justify">
    Pakit is not responsible for any damages resulting from use of this website
    by anyone. You will not use the Website for illegal purposes. Any misuse of
    this Service will result in the Account being suspended.
</p>
<p align="justify">
    Any illegal use of this service will be reported and we will comply with
    and assist law enforcement regarding the misuse. This includes, but is not
    limited to transactions involving illicit substances, goods, ornaments,
    etc.
</p>
<p align="justify">
    Additionally, you shall not (directly or indirectly): (i) decipher,
    decompile, disassemble, reverse engineer or otherwise attempt to derive any
    source code or underlying ideas or algorithms of any part of the Service,
    except to the limited extent applicable laws specifically prohibit such
    restriction, (ii) modify, translate, or otherwise create derivative works
    of any part of the Service, or (iii) copy, rent, lease, distribute, or
    otherwise transfer any of the rights that you receive hereunder. You shall
    abide by all applicable local, state, national and international laws and
    regulations.
</p>
<!-- <p align="justify">
    <a name="_GoBack"></a>
    <br/>
    <br/>
</p> -->
<p align="justify">
    <strong>IV. PRIVACY </strong>
</p>
<p align="justify">
    We collect personal information when you register for an account or
    otherwise voluntarily provide information. We also match devices that you
    add to the system to your personal account. We may use cookies and other
    technologies to enhance and personalize your user experience and learn how
    you use the service in order to improve quality and add features, and to
    provide enhanced or geographically differentiated features and service
    levels to users, where available. Our servers automatically record
    information when you visit the site including IP address, URL, browser type
    and language preferences.
</p>
<p align="justify">
    We may use personal information to provide the services you have requested.
    We may also use aggregated non-personal information for auditing, research
    and analysis to operate and improve the Website and services.
</p>
<p align="justify">
    Personal information is not shared with other third parties and is solely
    used by Pakit. All personally identifiable information is not shared with
    any other third party unless they are directly involved in the recovery of
    your stolen computer, such as law enforcement entities.
</p>
<p align="justify">
    <strong>V. PRICING</strong>
</p>
<p align="justify">
    Pakit reserves the right at any time and from time to time to modify or
    discontinue, temporarily or permanently, the Service or any part thereof
    with or without notice. Prices of all Services, including but not limited
    to monthly subscription plan fees to the Service, are subject to change
    upon 30 days notice from us by a publication on the Site. Pakit shall not
    be liable to you or to any third party for any modification, price change,
    suspension or discontinuance of the Service.
</p>
<p align="justify">
    <strong>VI. LICENSE</strong>
</p>
<p align="justify">
    By using this Website, you are granted a limited, non-exclusive,
    non-transferable right to use the content and materials on the Website in
    connection with your normal, non-commercial, use of the Website.
</p>
<p align="justify">
    <strong>VII. INTELLECTUAL PROPERTY</strong>
</p>
<p lang="en-IN" align="justify">
    You acknowledge that Pakit Pvt Ltd or third parties own all right, title
    and interest in and to the Software and Service (includes Applications and
    Website), portions thereof, or software or content provided through or in
    conjunction with the Software or Service, including without limitation all
    intellectual property rights. All rights in and to the Software and Service
    are reserved, and no implied licenses are granted by Pakit Pvt Ltd.
</p>
<p align="justify">
    <strong>VIII. DISCLAIMER OF WARRANTIES</strong>
</p>
<p>
    The software and service and any third party software and services are
    provided “as is,” with no warranties whatsoever. Third parties expressly
    disclaim to the fullest extent permitted by law all express, implied, and
    statutory warranties, including, without limitation, the warranties of
    merchantability, fitness for a particular purpose, title, and
    non-infringement of proprietary rights and any warranties regarding the
    security, reliability, timeliness, and performance of the software or
    service and such third party software or services.
</p>
<p>
    You understand and agree that your download and/or use of the Service, and
    all third party software or services made available in conjunction with or
    through the Service, is at your own discretion and risk and that you will
    be solely responsible for any damages to your computer system or loss of
    data that results from the download or use of the software or service and
    such third party software and services.
</p>
<p align="justify">
    <strong>IX. LIMITATION OF LIABILITY</strong>
</p>
<p>
    Under no circumstances shall any affiliated third party, or its suppliers,
    resellers, partners or their respective affiliates be liable for any
    indirect, incidental, consequential, special, exemplary, or punitive
    damages arising from or related to the software or service, whether such
    claim is based on warranty, contract, tort (including negligence), or
    otherwise.
</p>
<p>
    The foregoing limitations of liability shall apply whether the damages
    arise from use or misuse of and reliance on the software or service, from
    inability to use the software or service, or from the interruption,
    suspension, or termination of the software or service (including such
    damages incurred by third parties). such limitation shall apply
    notwithstanding a failure of essential purpose of any limited remedy and to
    the fullest extent permitted by law.
</p>
<p align="justify">
    <strong>XII. FORCE MAJEURE</strong>
</p>
<p align="justify">
    Pakit will not be deemed in default hereunder or held responsible for any
    cessation, interruption or delay in the performance of its obligations
    hereunder due to earthquake, flood, fire, storm, natural disaster, act of
    God, war, terrorism, armed conflict, labor strike, lockout, or boycott.
</p>
<p align="justify">
    <strong>XIII. GOVERNING LAW:</strong>
</p>
<p align="justify">
    This Agreement will be governed by the laws of India without regard to its
    conflict of law principles to the contrary. By using this Website or
    ordering Products, you consent to the jurisdiction and venue of such courts
    in connection with any action, suit, proceeding or claim arising under or
    by reason of this Agreement.
</p>
<p align="justify">
    By entering into this agreement, you hereby irrevocably waive any right you
    may have to join claims with those of other in the form of a class action.
</p>
<p align="justify">
    <strong>XIII. AGREEMENT TO BE BOUND</strong>
</p>
<p align="justify">
    By using this Website, you acknowledge that you have read and agree to be
    bound by this Agreement and all terms and conditions on this Website. This
    Agreement comprises the entire agreement between you and Pakit and
    supersedes any prior agreements pertaining to the subject matter contained
    herein.
</p>
<p align="justify">
    <strong>
        BY USING THIS WEBSITE OR ORDERING PRODUCTS FROM THIS WEBSITE YOU AGREE
    </strong>
    <strong> </strong>
    <strong>
        TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT.
    </strong>
</p>
</div>