*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #F5F5F5
}
/*-----------------------------------------------------NAVBAR BEGINS---------------------------------------------------------------------*/
#detailsform_navbar{
    background-color: #E52068;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_navcol img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: auto;
    display: inline-block;
}
/*-----------------------------------------------------------NAVBAR ENDS-------------------------------------------------------------------*/
.detailsform_disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.details_form_a{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.details_form_a:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#detailsform_tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#detailsform_tabs{
    text-align: center;
    position: relative;
    top: 35px;
    padding-top: 15px;
    background-color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_tabrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 0.7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_centralcard{
    box-shadow: 0px 0px 8px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_centralcardrow{
    margin-top: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_profilepic img{
    height: 150px;
    border: 5px solid white;
    box-shadow: 0px 0px 8px #888888;
    margin: 0 auto;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changepic{
    color: deepskyblue;
    font-size: 13;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_profilepic{
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changepic:hover{
    cursor: pointer;
    color: dodgerblue;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_profilepic a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_detailitem img{
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 1%;
    
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_detailitem label{
    color: gray;
    font-weight: bold;
    font-size: 12;
    float: left;
    left: 0px;
    position: relative;
    margin-top: 1%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.acc_form_input:focus{
    background-color: white;
}

.detailsform_detailitem input{
    float: right;
    border-bottom: 2px solid lightgray;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    width: 55%;
    margin-right: 2%;
    background-color: transparent;

}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_detailitem{
    margin-bottom: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changessave{
    background-color: deepskyblue;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changessave p{
    /*margin-top: 20%;*/
    color: white;
    padding: 5px 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changessave:hover p{
    color: darkslategray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changessave p:hover{
    color: darkslategray;
}
 /*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_discard{
    float: left; 
    background-color: transparent;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_discard p{
    color: gray;
    /*margin-top: 17%;*/
    padding: 5px 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_discard p:hover{
    color: darkslategray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changes{
    float: right;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 11;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changesp{
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changesp:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_changesa{
    text-decoration: none;
    color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn:focus{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn:active{
    box-shadow: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_uppercard{
    box-shadow: 0px 0px 8px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_uppercard p{
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_headingname{
    font-size: 14;
    margin-top: 3%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_uppercard img{
    width: 100%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_uppercard a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.progress{
    height: 10px;
    margin-top: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.progress-bar{
    background-color: orange;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_progressdesc{
    color: #ffae42;
    font-size: 16;
    font-weight: bold;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_percent{
    font-size: 10;
    color: lightslategray;
    margin-top: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_improve{
    color: deepskyblue;
    font-size: 11;
    font-weight: 700;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_improve:hover{
    cursor: pointer;
    color: dodgerblue;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_lowercard{
    box-shadow: 0px 0px 8px #888888;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_lowercard p{
    padding: 15px 0;
    font-size: 12;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_hr{
    border-bottom: 1px solid lightgray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_loweritems p{
    color: lightslategray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_loweritems:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailsform_loweritems p:hover{
    color: darkslategray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width:992px) and (max-width:1199px){
    .detailsform_uppercard{margin-top: 2%; float: left;}
    .detailsform_lowercard{margin-top: 5%; margin-bottom: 7%; float: right;}
    .detailsform_centralcard{margin-left: 4%; margin-top: 7.5%;}
    .detailsform_othercards{margin-left: 2%; margin-top: 7%;}
    .detailsform_detailitem input{width: 60%;}
    .detailsform_changesbutton{float: right;}
    .detailsform_changessave p{margin-top: 5%;}
    .detailsform_discard p{margin-top: 5%;}
}

@media (max-width:991px){
    .detailsform_centralcard{margin-top:8%; margin-bottom: 5%;}
    .detailsform_uppercard{margin-top:24%; margin-bottom: 5%; padding-bottom: 2%;}
    .detailsform_profilepic img{margin-left: 20%; margin-top: 4%;}
    .detailsform_othercards{margin-left: 4%;}
    .detailsform_headingname{padding-top: 2.8%;}
    .detailsform_detailitem img{margin-left: 5%;}
    .detailsform_detailitem input{margin-right: 5%;}
    .detailsform_changesbutton{float: right;}
    .detailsform_changessave p{margin-top: 9%;}
    .detailsform_discard p{margin-top: 7%;}
    .detailsform_changesbutton p{font-size: 12;}
}

@media (min-width:1200px){
    .detailsform_lowercard{margin-left: 5%; margin-top: 4%;}
    .detailsform_uppercard{margin-left: 5%; margin-top: 28%;}
    .detailsform_centralcard{margin-left: 4%; margin-top: 7%;}
    .detailsform_changesbutton{float: right;}
}

#detailsform_hiddenfile{
    display: none;
}