html , .homepage_body
{
    overflow-x: hidden; 
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_bgcolor_define{
    background-color: #f5f5f5;
}
/*--------------------------------------------------------NAVBAR BEGINS----------------------------------------------------------------------*/
#homepage_navbar{
    background-color: deeppink;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_navcol .navbar_img{
    height: 25px;
    margin-top: 5px;
    margin-bottom: auto;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0; 
 }
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.dropdown-toggle{
    display:inline-block;
    vertical-align:middle;
    float: none;
}
/*-------------------------------------------------------NAVBAR ENDS-------------------------------------------------------------------------*/
/*------------------------------------------------NEW/CURRENT PAKIT TABS BEGINS--------------------------------------------------------------*/
.homepage_disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_list_item{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_list_item:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#homepage_tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#homepage_tabs{
    text-align: center;
    position: relative;
    top: 60px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_tabrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 0.7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_newpakit{
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 2px solid black;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_newpakit:hover{color: black;}
/*-----------------------------------------------NEW/CURRENT PAKITS TABS ENDS----------------------------------------------------------------*/
/*-------------------------------------------------CARRY/SEND PAKIT CARDS BEGINS-------------------------------------------------------------*/
.card .card_img{
    height: 200px;
    display: block;
    margin: auto;
    padding: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.card{
    text-align: center;
    background-color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.card:hover{
    box-shadow: 0px 0px 20px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_thumbnails{
    display: block;
    margin-top: 5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.card-text{
    padding: 2%;
    padding-bottom: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.card-block{
    background-color: #d0d0d0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.card-title{
    padding: 2%;
    padding-top: 4%;
    font-weight: bold;
}
/*------------------------------------------------------CARRY/SEND PAKIT CARDS ENDS----------------------------------------------------------*/
/*--------------------------------------------------------CAROUSEL BEGINS--------------------------------------------------------------------*/
.homepage_owlcarousel .homepage_carousel_img{
    width: 150px;
    height: 200px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_owlcarousel{
    width: 1000px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 50px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_suggestions h2{
    color: dimgray;
    font-weight: bold;    
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_suggestions{
    margin-left: 11%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_carouselCard{
    box-shadow: 0px 0px 10px #888888
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_carouselCard .text{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_carouselCard h4{
    font-weight: bold;
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.homepage_carouselCard p{
    font-size: 12;
}
/*-----------------------------------------------------CAROUSEL ENDS---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 991px){
    .card{margin-top: 5%;}
    .homepage_owlcarousel{width: 900px;}
}

@media(min-width: 992px){
    .card{margin-top: 20%;}
}





