html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
*,*:after,*:before {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;}



/*  =================================================   BODY START   ==================================================   */
.login_body{
    background-color: #FFFFFF;
    font-family: century gothic , sans-serif;
}
/*  =================================================   BODY ENDS   ==================================================   */



/*  =================================================   PAKIT LOGO STARTS    ==================================================   */
.login_pakit_logo{
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.login_pakit{
    width: 100px;
}
/*  =================================================   PAKIT LOGO ENDS   ==================================================   */



/*  =================================================   FACEBOOK LOGIN STARTS    ==================================================   */
.login_fb_login{
    text-align: center;
    background-color: #3B5998;
    color: #F5F6FA;
    padding: 5px 0;
    border-radius: 4px;
    padding-top: 10px;  
}
.login_fb_login p img{
    width: 25px;
    vertical-align: middle;
}
.login_fb_login p a{
    text-decoration: none;
}
.login_fb_login p a:hover , a:visited , a:link , a:active{
    text-decoration: none;
    color: inherit;
}
.login_fb_logo{
    padding: 0 15px;
}
.login_login_text{
    padding: 0 15px;
    font-weight: normal;
    font-family: Gotham Book , sans-serif;
    font-size: 20px;
    font-style: normal;
}
/*  =================================================   FACEBOOK LOGIN ENDS    ==================================================   */



.login_or{
    text-align: center;
    margin: 50px 0; 
}



/*  =================================================   INPUT FEILDS STARTS    ==================================================   */
.login_input_feild{ 
    border: none;
    border-bottom: 1px solid black;
    width: 100%;    
    outline: none;
    font-size: 120%;
    background-color: transparent;
}
.login_email_input , .login_password_input{
    padding: 20px 0;
}
.login_label_feild{
    position: relative;
    display: block;
    font-size: 110%;
    font-weight: 100;
    color: #999999;
    left: 0px;
}
.login_login_submit{
    text-align: center;
}
.login_login_button{
    background-color: #E52068;
    width: 55%;
    margin: 20px auto;
    padding: 15px 0;
    box-shadow: 0px 2px 20px 0px grey;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 100%;
}
/*  =================================================   INPUT FEILDS ENDS    ==================================================   */



/*  =================================================   IF NOT REGISTERED STARTS    ==================================================   */
.login_email_and_password .login_if_not_registered{
    padding: 5px 0;
    text-align: center;
    font-family: Verdana , sans-serif;
}
.login_email_and_password .login_if_not_registered .login_create_an_account_link{
    color: inherit;
}
.login_email_and_password .login_if_not_registered .login_create_an_account_link:hover{
    text-decoration: none;
    color: #23527c;
}
/*  =================================================   IF NOT REGISTERED ENDS    ==================================================   */



/*  =================================================   JS CLASSES STARTS    ==================================================   */
.login_movelabelup{
    position: relative;
    top: -20px;
    left: 0px;
    font-family: Verdana , sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #E52068;
    transition: 0.19s ease all;
}
.login_movelabeltodefault{
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 110%;
    color: #999999;
    font-weight: 100;
    font-family: century gothic , sans-serif;
}
.login_underlineinput{
    border-bottom: 2px solid #FF0000;
    transition: 0.2s ease all;
}
.login_underlinedefault{
    border-bottom: 1px solid black;
    transition: 0.2s ease all;
}
/*  =================================================   JS CLASSES ENDS    ==================================================   */