#navbar{
    background-color: deeppink;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.navcol img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: auto;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
a{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
a:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#tabs{
    text-align: center;
    position: relative;
    top: 60px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.tabrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 0.7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.curpakit{
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 2px solid black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.centralcardcol{
    box-shadow: 0px 0px 8px #888888;
    margin-top: 7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.centralcardrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailcol{
    background-color: lightgrey;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.profilepic{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 35%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.profilepiccol{
    float: left;
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.singlecard{
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px darkgray;
    margin-top: 1.5%;
    margin-left: 2.4%;
    padding: 1px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.name{
    font-size: 17;
    font-family: sans-serif;
    margin-top: 2%;
    padding-right: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.singlecardrow{
    margin-top: 3%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.moreoptions img{
    height: 20px;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.moreoptions{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.moreoptions:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.flighticon{
    height: 14px;
    width: 14px;
    float:left;
    margin-right: 8px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.singlecarddetail{
    font-size: 13px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.weighticon{
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 8px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.floatleft{
    float: left;
    width: 48%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.floatright{
    float: right;
    width: 48%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.connectoptions img{
    height: 18px;
    width: 18px;
    float: left;
    padding: 3px;
    margin-right:8%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.connectoptions{
    float: left;
    margin-top: 4%;
    margin-left: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.invite img{
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 10%;
    float: right;
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.invite p{
    color: deepskyblue;
    font-size: 14;
    font-weight: bold;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.invite{
    float: right;
    margin-top: 4%;
    padding-right: 3%;
    width: 32%;
    margin-right: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.invite:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.flightdetails{
    background-color: #e9e9e9;
    padding: 0px;
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.blueflight{
    height: 75px;
    float: left;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.date p{
    font-size: 15;
    font-weight: bold;
    margin-top: 5.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.closecard p{
    font-size: 12;
    color: deepskyblue;
    font-weight: bold;
    display: inline-block;
    margin-top: 5%;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.closecard img{
    height: 20px;
    float: right;
    display: inline-block;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 4%;
    padding: 4px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.closecard img:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.closecard{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.destinationcol img{
    height: 12px;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.destination{
    font-weight: bold;
    font-size: 14;
    display: inline-block;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.users p{
    display: inline-block;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.users{
    position: absolute;
    margin-top: 0.4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.connected{
    color: darkgray;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.allusers{
    float: right;
    border-bottom: 2px solid black;
    padding-bottom: 2.5%;
    padding-right: 10px;
    padding-left: 14px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.connected:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.carryingbaggage img{
    height: 15px;
    float: right;
    display: inline;
    margin-right: 3px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.carryingbaggage p{
    font-size: 12;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.bolder{
    font-weight: bolder;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.carryingbaggage{
    float: right;
    margin-top: 0.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.details{
    padding-left: 0px;
    padding-right: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.name p {
    float: left;
    width: 90%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1010px) and (max-width:1200px){
    .allusers{padding-bottom: 3%;}
    .singlecard{width: 46%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .singlecard{width: 30%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1009px){
    .singlecard{width: 46%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1029px){
    .erroneous{width: 90%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:991px){
    .singlecard{margin-left: 5.5%;}
    .allusers{padding-bottom: 4.4%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1170px){
    .allusers{padding-bottom: 4.3%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailcity{
    font-size: 10;
    color: darkgray;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.float-left{
    float: left;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.float-right{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.detailcitycol{
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.plane{
    margin-top: 1%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.terms_and_conditions{
    float: right;
    padding-top: 20px;
    margin-right: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.terms_and_conditions input{
    margin-top: 0;
    width: 19px;
    height: 19px;
    cursor:pointer;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.last_row{
    margin-top: 2%;
    padding: 0 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.safety_tips{
    color: #FDCE42;
    padding-right: 0px;
    font-size: 14;
    margin-left: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.safety_tips ul{
    margin-top: 1%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.safety_tips ul li{
    padding: 5px 0;
    margin-left: 15px;
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.safety_tips ul li span{
    color: #7e7e7e;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.few_safety_tips{
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submit_ac{
    font-size: 17;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn:focus{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.btn:active{
    box-shadow: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submit_button{
    background-color: deepskyblue;
    text-align: center;
    color: white;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submit_button:hover{
    color: white;
    box-shadow: 0px 0px 8px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submit_button:focus{
    color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submit_ac_no{
    margin-top: 15%;
    font-size: 16;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.interior_lower_box .checkout{
    clear: both;
    text-align: left;
    color: #4D4D4D;
    font-weight: 600;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 20px;
    font-size: 23;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.shadow{
    box-shadow: 0px 0px 8px #888888;
    margin-left: 2.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .shadow{width: 95%;}
    .first_card{margin-left: 1.3%;}

}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.terms_check{
    vertical-align: middle;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.cardimg{
    border-radius: 35px;
    height: 70px;
    width: 70px;
    float: right;
    border: 1px solid lightgray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card{
    background-color: #f1f1f1;
    border-right: 1px solid lightgray;
    margin-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.sendertag{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.tag p{
    color: #FFA500;
    font-weight: 600;
    font-size: 12;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
div[class$="_card_first_row"]{
    margin-top: 5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.name{
    font-size: 17;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
div[class$="_card_second_row"]{
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card_third_row img{
    height: 15px;
    float: left;
    margin-right: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card_third_row p{
    font-size: 12;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card_fourth_row img{
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 13.6%;
    margin-bottom: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card_fourth_row img:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.first_card_fourth_row{
    margin-top: 5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .fourth_row_col{margin-left: 20%;}
}
@media (min-width:992px) and (max-width:1199px){
    .fourth_row_col{margin-left: 10%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.centralcard{
    box-shadow: 0px 0px 8px #888888;
    margin-left: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.second_card{
    background-color: #f1f1f1;
    border-right: 1px solid lightgray;
}

.second_card_second_row img{
    height: 15px;
    width: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.edit{
    width: 20%;
}
/*--------------------------------------------TO GET EQUAL HEIGHT COLUMNS, BOOTSTRAP WEBSITE TRICK------------------------------------------*/
@media (min-width:992px){
    .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.second_card_third_row p{
    font-size: 13;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.ac_details_row p{
    font-size: 15;
    margin-top: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.ac_details_row{
    border-bottom: 1px solid lightgray;
    color: #7e7e7e;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.forms_row form{
    margin-top: 5%;
}


.cancel_done p{
    font-size: 12;
}

.cancel_done{
    margin-top: 7%;
}

.add_account_col:hover{
    cursor: pointer;
}

.cancel_done a{
    text-decoration: none;
}

.cancel a:visited{
    color: #7e7e7e !important;
}

.cancel a{
    color: #7e7e7e !important;
}

.cancel{
    margin-right: 10%;
}

.cancel a:hover{
    cursor: pointer;
}

.done a:visited{
    color: deepskyblue;
}

.done a{
    color: deepskyblue;
}

.done a:hover{
    cursor: pointer;
}

@media (min-width:992px) and (max-width:1226px){
    .date_weight{padding-left: 2px; padding-right: 2px;}
}

.carrying img{
    float: right !important;
}

.rem_pad_right{
    padding-right: 0;
}

.bank_desc{
    font-size: 14;
    color: #7e7e7e;
}

.acc_name{
    font-size: 15;
}

.add_account{
    width: 14px;
    margin-right: 5%;
}

.form_check label{
    color: #7e7e7e;
    font-weight: 500;
    font-size: 16;
}

@media(max-width:991px){
    .second_card_third_row{overflow-y: scroll;}
    .first_card{height: 60%; border-bottom: 1px solid lightgray;}
    .second_card{height: 60%; border-bottom: 1px solid lightgray;}
}
