#submitac_navbar{
    background-color: deeppink;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_navcol img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: auto;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_a{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_a:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#submitac_tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#submitac_tabs{
    text-align: center;
    position: relative;
    top: 60px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_tabrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 0.7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_curpakit{
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 2px solid black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_centralcardcol{
    box-shadow: 0px 0px 8px #888888;
    margin-top: 7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_centralcardrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_name{
    font-size: 17;
    font-family: sans-serif;
    margin-top: 2%;
    padding-right: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_flightdetails{
    background-color: #e9e9e9;
    padding: 0px;
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_blueflight{
    height: 75px;
    float: left;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_date p{
    font-size: 15;
    font-weight: bold;
    margin-top: 5.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_closecard p{
    font-size: 12;
    color: deepskyblue;
    font-weight: bold;
    display: inline-block;
    margin-top: 5%;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_closecard img{
    height: 20px;
    float: right;
    display: inline-block;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 4%;
    padding: 4px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_closecard img:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_closecard{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_destinationcol img{
    height: 12px;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_destination{
    font-weight: bold;
    font-size: 14;
    display: inline-block;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_users p{
    display: inline-block;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_users{
    position: absolute;
    margin-top: 0.4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_connected{
    color: darkgray;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_allusers{
    float: right;
    border-bottom: 2px solid black;
    padding-bottom: 2.5%;
    padding-right: 10px;
    padding-left: 14px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_connected:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_carryingbaggage img{
    height: 15px;
    float: right;
    display: inline;
    margin-right: 3px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_carryingbaggage p{
    font-size: 12;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.bolder{
    font-weight: bolder;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_carryingbaggage{
    float: right;
    margin-top: 0.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_name p {
    float: left;
    width: 90%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1010px) and (max-width:1200px){
    .submitac_allusers{padding-bottom: 3%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1029px){
    .submitac_erroneous{width: 90%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:991px){
    .submitac_allusers{padding-bottom: 4.4%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1170px){
    .submitac_allusers{padding-bottom: 4.3%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_detailcity{
    font-size: 10;
    color: darkgray;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_float-left{
    float: left;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_float-right{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_detailcitycol{
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_plane{
    margin-top: 1%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_terms_and_conditions{
    float: right;
    padding-top: 20px;
    margin-right: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_terms_and_conditions input{
    margin-top: 0;
    width: 19px;
    height: 19px;
    cursor:pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_last_row{
    margin-top: 2%;
    padding: 0 0;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_safety_tips{
    color: #FDCE42;
    padding-right: 0px;
    font-size: 14;
    margin-left: 20px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_safety_tips ul{
    margin-top: 1%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_safety_tips ul li{
    padding: 5px 0;
    margin-left: 15px;
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_safety_tips ul li span{
    color: #7e7e7e;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_few_safety_tips{
    font-size: 15;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_submit_ac{
    font-size: 17;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_btn:focus{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_btn{
    outline: 0px !important;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_btn:active{
    box-shadow: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_submit_button{
    background-color: deepskyblue;
    text-align: center;
    color: white;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_submit_button:hover{
    color: white;
    box-shadow: 0px 0px 8px #888888;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_submit_button:focus{
    color: white;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_submit_ac_no{
    margin-top: 15%;
    font-size: 16;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.interior_lower_box .checkout{
    clear: both;
    text-align: left;
    color: #4D4D4D;
    font-weight: 600;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 20px;
    font-size: 23;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .submitac_first_card{margin-left: 1.3%;}

}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_terms_check{
    vertical-align: middle;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_form_check label{
    font-weight: 500;
    font-size: 16;
    color: #7e7e7e;
    float: right;
}

.submitac_form_check label:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_cardimg{
    border-radius: 35px;
    height: 70px;
    width: 70px;
    float: right;
    border: 1px solid lightgray;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card{
    background-color: #f1f1f1;
    border-right: 1px solid lightgray;
    margin-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.sendertag{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.tag p{
    color: #FFA500;
    font-weight: 600;
    font-size: 12;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
div[class$="_card_first_row"]{
    margin-top: 5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_name{
    font-size: 17;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
div[class$="_card_second_row"]{
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card_third_row img{
    height: 15px;
    float: left;
    margin-right: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card_third_row p{
    font-size: 12;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card_fourth_row img{
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 13.6%;
    margin-bottom: 10%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card_fourth_row img:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_first_card_fourth_row{
    margin-top: 5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .submitac_fourth_row_col{margin-left: 20%;}
}
@media (min-width:992px) and (max-width:1199px){
    .submitac_fourth_row_col{margin-left: 10%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_centralcard{
    box-shadow: 0px 0px 8px #888888;
    margin-left: 4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_second_card{
    background-color: #f1f1f1;
    border-right: 1px solid lightgray;
}

.submitac_second_card_second_row img{
    height: 15px;
    width: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.edit{
    width: 20%;
}
/*--------------------------------------------TO GET EQUAL HEIGHT COLUMNS, BOOTSTRAP WEBSITE TRICK------------------------------------------*/
@media (min-width:992px){
    .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.submitac_second_card_third_row p{
    font-size: 13;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.ac_details_row p{
    font-size: 15;
    margin-top: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.ac_details_row{
    border-bottom: 1px solid lightgray;
    color: #7e7e7e;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.forms_row form{
    margin-top: 5%;
}

.ac_name{
    width: 100%;
}

.ac_number{
    width: 45%;
    float: left;
}

.ac_xyzabc{
    width: 45%;
    float: right;
}

.submitac_form input{
    border: none;
    border-bottom: 1.5px solid lightgray;
    height: 38px;
    outline: none;
    transition: border-bottom 0.3s ease-in-out;
}

.submitac_form input:focus{
    border: none;
    border-bottom: 1.5px solid deepskyblue;
}

.submitac_form input placeholder{
    color: lightgray;
}
.cancel_done p{
    font-size: 14;
    float: right;
}

.cancel_done{
    float: right;
    margin-top: 7%;
}

.cancel_done a{
    text-decoration: none;
}

.cancel a:visited{
    color: #7e7e7e !important;
}

.cancel a{
    color: #7e7e7e !important;
}

.cancel{
    margin-right: 10%;
}

.cancel a:hover{
    cursor: pointer;
}

.submitac_done a:visited{
    color: deepskyblue;
}

.submitac_done a{
    color: deepskyblue;
}

.submitac_done a:hover{
    cursor: pointer;
}

@media (min-width:992px) and (max-width:1226px){
    .submitac_date_weight{padding-left: 2px; padding-right: 2px;}
}

.carrying img{
    float: right !important;
}

@media(max-width:991px){
    .submitac_second_card_third_row{overflow-y: scroll; max-height: 25%;}
    .submitac_first_card{height: 60%; border-bottom: 1px solid lightgray;}
    .submitac_second_card{height: 60%; border-bottom: 1px solid lightgray;}
}

