#userlist_navbar{
    background-color: deeppink;
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_navcol img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: auto;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
*{
    padding: 0px;
    margin: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_disabledLink{
    color: darkgray;
    cursor: pointer;   
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_disabledLink:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_a{
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_a:hover{
    cursor: default;
    color: black;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#userlist_tabs a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#userlist_tabs{
    text-align: center;
    position: relative;
    top: 60px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_tabrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_line{
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 0.7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_curpakit{
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 2px solid black;
    color: black;
}

.userlist_curpakit:hover{
    color: black;
    cursor: default;
}

.userlist_curpakitcol:hover{
    cursor: default
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_centralcardcol{
    box-shadow: 0px 0px 8px #888888;
    margin-top: 7%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_centralcardrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_profilepic{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 35%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_profilepiccol{
    float: left;
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_singlecard{
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px darkgray;
    margin-top: 1.5%;
    margin-left: 2.4%;
    padding: 1px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_name{
    font-size: 17;
    font-family: sans-serif;
    margin-top: 2%;
    padding-right: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_singlecardrow{
    margin-top: 3%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_moreoptions img{
    height: 20px;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_moreoptions{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_moreoptions:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_flighticon{
    height: 14px;
    width: 14px;
    float:left;
    margin-right: 8px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_singlecarddetail{
    font-size: 13px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_weighticon{
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 8px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_floatleft{
    float: left;
    width: 48%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_floatright{
    float: right;
    width: 48%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_connectoptions img{
    height: 18px;
    width: 18px;
    float: left;
    padding: 3px;
    margin-right:8%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_connectoptions{
    float: left;
    margin-top: 4%;
    margin-left: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_invite img{
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 10%;
    float: right;
    padding-left: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_invite p{
    color: deepskyblue;
    font-size: 14;
    font-weight: bold;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_invite{
    float: right;
    margin-top: 4%;
    padding-right: 3%;
    width: 32%;
    margin-right: 2%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_invite:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_flightdetails{
    background-color: #e9e9e9;
    padding: 0px;
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_blueflight{
    height: 75px;
    float: left;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_date p{
    font-size: 15;
    font-weight: bold;
    margin-top: 5.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_closecard p{
    font-size: 12;
    color: deepskyblue;
    font-weight: bold;
    display: inline-block;
    margin-top: 5%;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_closecard img{
    height: 20px;
    float: right;
    display: inline-block;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 4%;
    padding: 4px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_closecard img:hover{
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_closecard{
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_destinationcol img{
    height: 12px;
    display: inline-block;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_destination{
    font-weight: bold;
    font-size: 14;
    display: inline-block;
    margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_users p{
    display: inline-block;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_users{
    position: absolute;
    margin-top: 0.4%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_connected{
    color: darkgray;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_allusers{
    float: right;
    border-bottom: 2px solid black;
    padding-bottom: 2.5%;
    padding-right: 10px;
    padding-left: 14px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_connected:hover{
    color: darkslategray;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_carryingbaggage img{
    height: 15px;
    float: right;
    display: inline;
    margin-right: 3px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_carryingbaggage p{
    font-size: 12;
    float: right;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_carryingbaggage{
    float: right;
    margin-top: 0.5%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_details{
    padding-left: 0px;
    padding-right: 0px;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_name p {
    float: left;
    width: 90%;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1010px) and (max-width:1200px){
    .userlist_allusers{padding-bottom: 3%;}
    .userlist_singlecard{width: 46%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:1200px){
    .userlist_singlecard{width: 30%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1009px){
    .userlist_singlecard{width: 46%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1029px){
    .erroneous{width: 90%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:991px){
    .userlist_singlecard{margin-left: 5.5%;}
    .userlist_allusers{padding-bottom: 4.4%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1170px){
    .userlist_allusers{padding-bottom: 4.3%;}
}
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.userlist_detailcity{
    font-size: 10;
    color: darkgray;
    margin-bottom: 0px;
}

.userlist_float-left{
    float: left;
}

.userlist_float-right{
    float: right;
}

.userlist_detailcitycol{
    padding-left: 0px;
}

.userlist_plane{
    margin-top: 1%;
}